/**
  Typography set by TypeScale
  https://type-scale.com/
  1.333 Perfect Fourth Scale
**/

html {font-size: 100%;} /*16px*/

body {
  background-color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color: #333;
}

p {margin-bottom: 1.15rem;}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 4.209em;
  font-weight: 700;
}

h2 {font-size: 3.157em;}

h3 {font-size: 2.369em;}

h4 {font-size: 1.777em;}

h5 {font-size: 1.333em;}

small, .text_small {font-size: 0.75em;}